<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<link rel="stylesheet" type="text/css" href="../bootstrap-3.3.7-dist/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="../bootstrap-3.3.7-dist/css/bootstrap-theme.css">
	<script type="text/javascript" src="../js/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="../bootstrap-3.3.7-dist/js/bootstrap.js"></script>
	<script type="text/javascript" src="../js/knockout-3.4.2.js"></script>
	<script type="text/javascript" src="../js/scripts.js"></script>
	<style type="text/css">
		table{
			width: 0 auto;
		}
	</style>
</head>
<body>	
	<nav class="navbar navbar-inverse navbar-fixed">
		<div class="container-fluid">
			<div class="navbar-header">
				<a href="../index.html" class="navbar-brand">Proyecto Final Knockout JS</a>
			</div>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="compras.html"><span class="glyphicon glyphicon-shopping-cart"></span> Compras</a></li>
				<li class="active"><a href="lista-productos.html"><span class="glyphicon glyphicon-blackboard"></span> Nuestros Productos</a></li>
				<li><a href="contactenos.html"><span class="glyphicon glyphicon-user"></span> Contactenos</a></li>
			</ul>
		</div>
	</nav>
	<div class="row">
		<div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1">
			<div class="panel panel-default">
				<table class="table table-hover ">
					<thead class="text-primary">
						<tr >
							<th>Id</th>
							<th>Producto</th>
							<th>Pulgadas</th>
							<th>Precio</th>
						</tr>
					</thead>
					<tbody data-bind="foreach: productos">
						<tr>
							<td data-bind="text: $data.codigo"></td>
							<td data-bind="text: $data.nombre"></td>
							<td data-bind="text: $data.pulgadas"></td>
							<td data-bind="text: $data.precio"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</body>
</html>